body {
    color: #454545;
    line-height: 1;
    text-align: justify;
    font-family: "Alice", serif;
}

#card {
    margin: 0 auto;
    max-width: 620px;
    max-height: 400px;
    border: 1px solid #343434;
    border-radius: 3px;
    overflow: auto;
}

#card-header {
    text-align: center;
    font-size: 16pt;
}

@media only screen and (max-width: 600px) {
    #card {
        width: 90%;
    }
}