body {
    margin: 100px auto;
    width: 60%;
    color: #454545;
    line-height: 1;
    text-align: justify;
}

#quiz-intro,
#quiz-body,
#quiz-answer {
    margin: 20px auto;
    width: 80%;
    font-family: "Alice", serif;
}